/* logo */
#logo {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 300px;
}

#logo2 {
    position: absolute;
    top: 270px;
    right: 25px;
    width: 300px;
}

/* warning */
.warning {
    color: red;
}

/* ok */
.ok {
    color: #3de73d;
}

#login img {
    max-width: 200px;
}

/* userdata table */
table.userdata {
    border-collapse: collapse;
    margin: 30px;
    background-color: lightyellow;
}

table.userdata td, table.userdata th {
    border: 1px solid #AAAAAA;
    padding: 2px 10px;
}

/* Passport Basic View table */
table.ga4gh_basic {
    border-collapse: collapse;
    margin: 30px;
    background-color: aliceblue;
}

table.ga4gh_basic td, table.ga4gh_basic th {
    border: 1px solid #AAAAAA;
    padding: 2px 10px;
}

/* Passport Expert View tables */
table.ga4gh_expert {
    border-collapse: collapse;
    margin: 30px;
    background-color: aliceblue;
}

table.ga4gh_expert td, table.ga4gh_expert th {
    border: 1px solid #AAAAAA;
    padding: 2px 10px;
}

.rawjwt {
    background-color: #F0F0F0;
}

td.rawjwt pre {
    display: none;
}

/* font sizes */
span.small {
    font-size: 0.8em;
}

span.tiny {
    font-size: 0.5em;
}
